:root {
  --col-default-light: rgb(197, 197, 197);
  --col-default-mid: rgb(145, 145, 145);
  --col-default-dark: rgb(82, 82, 82);

  --col-card: rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;

  --top-height: 2rem;
  --bottom-height: 5rem;

  font-family: sans-serif;
  color: white;
}

body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  padding-top: var(--top-height);
  padding-bottom: var(--bottom-height);
  background: var(--col-default-dark);
}

/* General */
.shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* MAIN */

.main-content {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  --height: calc(100vh - var(--top-height) - var(--bottom-height));
  height: var(--height);
  min-height: var(--height);
  padding-bottom: 2.5rem;
}

.weather-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0.25rem;
}

.icon-container {
  box-sizing: border-box;
  height: 8rem;
  background: var(--col-card);
  margin: 0.5rem;
}

.info-container {
  box-sizing: border-box;
  height: 10rem;
  background: var(--col-card);
  margin: 0.5rem;
  padding: 0.2rem 0.5rem;
}

.location {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 2rem;
}

/* WEATHER INFO CLASSES */

.weather-info-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.weather-condition {
  text-align: center;
  font-size: 1.5rem;
}

.weather-temp-group {
  text-align: center;
}

.weather-current-temp {
  font-size: 5rem;
}

.weather-details-group {
  padding-top: 1rem;
  padding-left: 0.2rem;
  text-align: right;
}

/* TOP */

.top {
  box-sizing: border-box;
  position: fixed;
  background: var(--col-default-mid);
  top: 0;
  height: var(--top-height);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3em;
}

.switch {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  background: var(--col-default-dark);
  border-radius: 100px;
  width: 3rem;
}

.switch-thumb {
  position: absolute;
  left: 0;
  background: white;
  height: 100%;
  /* (slightly larger thumb) */
  /* height: calc(100% + 2px);
  transform: translateY(-1px); */
  width: 1.5rem;
  border-radius: 50%;
}

.switch-label {
  position: absolute;
  display: flex;
  justify-content: space-between;
  right: 0;
  left: 0;
  font-size: 0.9rem;
  padding: 0.15rem 0.5rem;
}

.switch-label-active {
  color: var(--col-default-dark);
  font-weight: bold;
}

.gh-logo {
  height: 100%;
  width: 1.5rem;
  border-radius: 50%;
  background: white;
}

/* SEARCH */

.search-container {
  position: fixed;
  box-sizing: border-box;
  height: var(--bottom-height);
  bottom: 0;
  background: var(--col-default-mid);
  width: 100%;
  padding: 0.5rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-bar {
  box-sizing: border-box;
  height: 1.5rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 2rem;
}

.search-input {
  color: var(--col-default-dark);
}

.search-icon-placeholder {
  height: 1.2rem;
  width: 1.2rem;
  margin: 0 0.2rem;
  border-radius: 50%;
  background: var(--col-default-light);
}

.footer {
  font-size: 0.8rem;
  text-align: center;
}
