:root {
  /* * DESIGN TOKENS * */
  /* COLORS */
  --col-light-text: #f8e9d5;
  --col-light-mid: #f5d3a6;
  --col-light-secondary: #f1b64e;

  --col-primary-light: #566a69;
  --col-primary-mid: #142f35;
  --col-primary-dark: #091219;

  --col-secondary: #da5341;
  --col-secondary-dark: #7a100c;

  --grey-light: rgb(197, 197, 197);
  --grey-default-mid: rgb(145, 145, 145);
  --grey-default-dark: rgb(82, 82, 82);

  --col-card: rgba(0, 0, 0, 0.3);

  /* Z-INDEX SCHEMA */
  --z-behind: -5;
  --z-bg: 0;
  --z-base: 10;
  --z-element: 20;
  --z-text: 50;

  /* POSITIONS */
  --top-height: 2rem; /* Header bar */
  --bottom-height: 5rem; /* Search box */

  /* * GLOBAL PREFERENCES * */
  font-size: 1.5rem;
  font-family: sans-serif;
  color: var(--col-light-text);
}

body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  padding-top: var(--top-height);
  padding-bottom: var(--bottom-height);
  z-index: var(--z-bg);
}

/* General */
.shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* MAIN */

.main-content {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-bg);

  width: 100%;
  --height: calc(100vh - var(--top-height) - var(--bottom-height));
  height: var(--height);
  min-height: var(--height);
  padding-bottom: 2.5rem;

  background: linear-gradient(
    var(--col-primary-light),
    var(--col-primary-mid),
    var(--col-primary-dark)
  );
}

.weather-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0.25rem;
  text-shadow: 0.1rem 0.1rem 0.25rem var(--col-primary-dark);
}

.weather-card {
  box-sizing: border-box;
  height: 8rem;
  width: 100%;
  max-width: 20rem;
  margin: 0.5rem auto;
  position: relative;
  z-index: 1;
}
.weather-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: var(--col-primary-dark);
  z-index: -1;
  border-radius: 10px;
}

.info-container {
  height: 10rem;
  padding: 0.2rem 0.5rem;
}

.icon-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.location {
  position: absolute;
  bottom: 0.3rem;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 2rem;
}

/* WEATHER INFO CLASSES */

.weather-info-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.weather-description {
  text-align: center;
  font-size: 1.5rem;
}

.weather-current-temp {
  font-size: 5rem;
  text-align: center;
}

.weather-details {
  padding-top: 1rem;
  padding-left: 0.2rem;
  text-align: right;
  line-height: 1.45em;
}

/* TOP */

.top {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  height: var(--top-height);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3em;

  background: var(--col-light-mid);
  color: var(--col-secondary);

  z-index: var(--z-base);
}

/* SWITCH STYLES */

.switch {
  user-select: none;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 100%;
  background: var(--col-primary-light);
  box-shadow: inset 0px 3px 10px var(--col-primary-mid);
  border-radius: 100px;
  width: 3rem;
  z-index: var(--z-element);
  padding: 0 0.4rem;
}

.switch > input {
  opacity: 0;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.switch > input ~ .switch-thumb {
  content: '';
  position: absolute;
  left: 0;
  background: var(--col-light-text);
  /* (slightly larger thumb) */
  height: calc(100% + 4px);
  transform: translateY(-2px);
  width: 1.5rem;
  border-radius: 50%;
  z-index: 1;
  transition: 0.3s cubic-bezier(0.53, -0.37, 0.53, 1.37);
}

.switch > input:checked ~ .switch-thumb {
  transform: translateY(-2px) translateX(1.5rem);
}

.switch-thumb::before {
  content: '';
  z-index: -50;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 0.4rem var(--col-primary-light);
  opacity: 0.7;
}

.switch-label {
  margin: 0.12rem 0;
  z-index: 2;
  color: var(--col-light-text);
}

.switch > input:checked ~ .on,
.switch > input:not(:checked) ~ .off {
  color: var(--col-secondary);
  font-weight: bold;
  transition: 0.3s;
}

.gh-logo {
  height: 100%;
  width: 1.5rem;
  border-radius: 50%;
  background: var(--col-secondary);
}

/* SEARCH */

.search-container {
  position: fixed;
  box-sizing: border-box;
  height: var(--bottom-height);
  bottom: 0;
  background: var(--col-light-mid);
  width: 100%;
  padding: 0.5rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  color: var(--col-secondary);
}

.search-bar:hover,
.search-bar:focus-within {
  box-shadow: inset 0 0 10px var(--col-secondary-dark);
  /* border: 2px solid var(--col-light-text); */
}

.search-bar {
  position: relative;
  box-sizing: border-box;
  height: 1.5rem;
  width: 100%;
  max-width: 20rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--col-secondary);
  color: var(--col-light-text);
  border-radius: 2rem;
}

.search-input {
  color: var(--col-light-text);
  background: none;
  outline: none;
  border: none;
  font-size: 1rem;
  z-index: 1;
  text-align: center;
  max-width: 75%;
}

.search-input::placeholder {
  color: var(--col-light-text);
  font-size: 0.8rem;
}

.search-input:focus::placeholder {
  color: transparent;
}

.search-icon-placeholder {
  position: absolute;
  right: 0;
  height: 1rem;
  width: 1rem;
  margin: 0 0.2rem;
  border-radius: 50%;
  border: 2px solid var(--col-light-mid);
  background: none;
}

.search-icon-placeholder.left {
  left: 0;
  border-color: var(--col-secondary);
  opacity: 0;
}

.footer {
  font-size: 0.7rem;
  text-align: center;
}
