.svg-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-name: slide;
  animation-duration: 6s;
  animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
svg {
  position: absolute;
  --top-root: 1rem;
  top: var(--top-root);
  transform: translateX(-50%);
}

.cloud {
  fill: none;
  stroke: var(--col-light-text);
  stroke-width: 8px;
  width: 50%;
  top: calc(--top-root - 0.3rem);
}

.cloud-bg {
  fill: var(--col-light-text);
  width: 50%;
  animation-delay: 0.3s;
}

@keyframes slide {
  from,
  15% {
    transform: translateX(-1rem);
  }
  85%,
  to {
    transform: translateX(1rem);
  }
}
