.svg-container-group {
  width: 100%;
}
.svg-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
}

svg {
  fill: var(--col-light-text);
  stroke: var(--col-light-text);
  stroke-width: 0;
  width: 30%;
  --top-root: 1rem;
  top: var(--top-root);
}
