.svg-container-group {
  width: 100%;
}
.svg-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
}

svg {
  fill: var(--col-light-text);
  stroke: var(--col-light-text);
  stroke-width: 0;
  width: 30%;
  --top-root: 1rem;
  top: var(--top-root);
}

/* .cloud {
  fill: none;
  stroke: var(--col-light-text);
  stroke-width: 8px;
  width: 50%;
  top: calc(--top-root - 0.3rem);
}

.cloud-bg {
  fill: var(--col-light-text);
  width: 50%;
  animation-delay: 0.3s;
}

.anim-slide {
  animation-name: slide;
  animation-duration: 6s;
  animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes slide {
  from,
  15% {
    transform: translateX(-1rem);
  }
  85%,
  to {
    transform: translateX(1rem);
  }
} */
